*, ::before, ::after, ::marker {
    position: relative;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    border-style: none;
    border-width: 1px;
    border-color: currentColor;
    list-style: none;
    font: inherit;
    color: inherit;
    text-decoration: inherit;
    background-size: cover;
    background-color: transparent;
    -webkit-text-size-adjust: none;
}
:root {
    --baseWidth: 630px;
    --baseGap: 1rem;
    --mainColor: #c4c07e;
    --textColor: #4f4310;
    --accentColor: #c13a1e;
    --backgroundColor: #f8f7e6;
    --white: #fffff8;
    --zHeader: 1;
    --listIndexSize: 1.5rem;
    --font-default: Georgia, 'BIZ UDMincho', serif;
    --font-monospace: 'Roboto Mono', monospace;
    font-size: 17px;
    font-family: var(--font-default);
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--textColor);
    block-size: 100%;
    background-color: var(--backgroundColor);
}
@media (max-width: 600px) {
    :root {
        font-size: 16px;
    }
}
:root:focus-within {
    scroll-behavior: smooth;
}
body, #raw-__next {
    min-height: 100vh;
}
img, svg, picture {
    max-inline-size: 100%;
    display: block;
}
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *, ::before, ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
button {
    cursor: pointer;
}
